@page "/tags"
@layout AdminLayout
@using AH.Web.Client.Components
@using AH.Metadata.Shared.V1.Models.Responses.MasterTagCategories
@attribute [Authorize]
<h3>Tags - @ClassName</h3>

<TelerikTabStrip Width="1600px" ActiveTabIndexChanged="@TabChangedHandler">
    <TabStripTab Title="Teams">
        <MasterTagAndCategoryGrids MasterTagCategoryClassName="@ClassName"/>
    </TabStripTab>
    <TabStripTab Title="Team Members">
        <MasterTagAndCategoryGrids MasterTagCategoryClassName="@ClassName"/>
    </TabStripTab>
    <TabStripTab Title="Stakeholders">
        <MasterTagAndCategoryGrids MasterTagCategoryClassName="@ClassName"/>
    </TabStripTab>
    <TabStripTab Title="Skills">
        <MasterTagAndCategoryGrids MasterTagCategoryClassName="@ClassName"/>
    </TabStripTab>
</TelerikTabStrip>

@code{
    private string ClassName { get; set; } = null!;
    private MasterTagCategoryResponse? SelectedCategory { get; set; }
    
    [Inject]
    public IJSRuntime Javascript { get; set; } = null!;

    private async Task TabChangedHandler(int newIndex)
    {
        ClassName = newIndex switch
        {
            0 => "MasterTeamCategory",
            1 => "MasterTeamMemberCategory",
            2 => "MasterStakeholderCategory",
            3 => "MasterSkillsCategory",
            _ => ClassName
        };
        SelectedCategory = null;
        await Javascript.InvokeVoidAsync("console.log", newIndex);
    }

    protected override Task OnInitializedAsync()
    {
        ClassName = "MasterTeamCategory";
        return Task.CompletedTask;
    }
}

