@using AH.Metadata.Shared.V1.Models.Responses.MasterTagCategories
@using System.Text.Json
@using System.Text
@using System.Net
@using AH.Metadata.Shared.V1.Models.Requests.Tags
@using AH.Metadata.Shared.V1.Models.Responses.MasterTags
@inject HttpClient Http

<div class="tags-half">
    <TelerikGrid Data="@_gridCategories"
                 EditMode="@GridEditMode.Popup"
                 FilterMode="@GridFilterMode.FilterMenu"
                 EnableLoaderContainer="@ShowLoading"
                 Sortable="true"
                 Height="600px"
                 OnUpdate="@UpdateCategoryHandler"
                 OnAdd="@AddCategoryHandler"
                 OnEdit="@EditCategoryHandler"
                 OnCreate="@CreateCategoryHandler"
                 OnDelete="@DeleteCategoryHandler"
                 SelectionMode="@GridSelectionMode.Single"
                 ConfirmDelete="true"
                 OnRowClick="@( async args => { await CategoryClicked(args); })">
        <GridToolBarTemplate>
            <GridCommandButton Command="Add">Add Category</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(MasterTagCategoryResponse.Name)" Title="Name"/>
            <GridColumn Field="@nameof(MasterTagCategoryResponse.Type)" Title="Type">
                <EditorTemplate>
                    @{
                        _selectedCategory = (MasterTagCategoryResponse) context;
                        <TelerikDropDownList Data="@_types"
                                             @bind-Value="@_selectedCategory.Type"
                        >
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="auto" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
                <Template>
                    @((context as MasterTagCategoryResponse)?.Type == string.Empty ? "All" : (context as MasterTagCategoryResponse)?.Type)
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(MasterTagCategoryResponse.ClassName)" Visible="false"/>
            <GridCommandColumn>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>
<div class="k-master-row">
    @if (_tagCategory != null)
    {
        <TelerikGrid Data="@_tags"
                     EditMode="@GridEditMode.Popup"
                     FilterMode="@GridFilterMode.FilterMenu"
                     EnableLoaderContainer="@ShowLoading"
                     Sortable="true"
                     Height="600px"
                     OnAdd="@AddTagHandler"
                     OnEdit="@EditTagHandler"
                     OnCreate="@CreateTagHandler"
                     OnDelete="@DeleteTagHandler"
                        OnUpdate="@UpdateTagHandler"
                     SelectionMode="@GridSelectionMode.Single"
                     ConfirmDelete="true">
            <GridToolBarTemplate>
                <GridCommandButton Command="Add">Add Tag</GridCommandButton>
            </GridToolBarTemplate>
            <GridColumns>
                <GridColumn Field="@nameof(MasterTagWithCategoryAndParentTagResponse.Name)" Title="Name"/>
                <GridColumn Field="@nameof(MasterTagWithCategoryAndParentTagResponse.ClassName)" Visible="false"/>
                <GridColumn Field="@nameof(MasterTagWithCategoryAndParentTagResponse.ParentMasterTagCategoryUId)" Title="Category" Visible = "@(MasterTagCategoryClassName == "MasterTeamMemberCategory")">   
                    <Template>
                        @((context as MasterTagWithCategoryAndParentTagResponse)?.ParentMasterTagCategoryName)
                    </Template>
                    <EditorTemplate>
                        @{
                            var tag = (MasterTagWithCategoryAndParentTagResponse) context;
                            <TelerikDropDownList @bind-Value="@tag.ParentMasterTagCategoryUId"
                                                 ValueField="@nameof(MasterTagCategoryResponse.UId)"
                                                 TextField="@nameof(MasterTagCategoryResponse.Name)"
                                                 DefaultText="Select Category"
                                                 OnChange="@CascadedList"
                                                 Data="@_categories.Where(x=>x.ClassName == "MasterTeamCategory" && x.Name != "Methodology" && x.Type == _tagCategory.Type).ToList()">
                                <DropDownListSettings>
                                    <DropDownListPopupSettings Height="auto" MaxHeight="200px" />
                                </DropDownListSettings>
                            </TelerikDropDownList>
                        }
                    </EditorTemplate>
                </GridColumn>
                <GridColumn Field="@nameof(MasterTagWithCategoryAndParentTagResponse.ParentMasterTagUId)" Title="Tag" Visible="@(MasterTagCategoryClassName == "MasterTeamMemberCategory")">
                    <Template>
                        @((context as MasterTagWithCategoryAndParentTagResponse)?.ParentMasterTagName)
                    </Template>
                    <EditorTemplate>
                        @{
                            var tag = (MasterTagWithCategoryAndParentTagResponse) context;
                            <TelerikDropDownList @bind-Value="@tag.ParentMasterTagUId"
                                                 ValueField="@nameof(MasterTagWithCategoryAndParentTagResponse.UId)"
                                                 TextField="@nameof(MasterTagWithCategoryAndParentTagResponse.Name)"
                                                 DefaultText="Select Tag"
                                                 Data="@_cascadedTags">
                                <DropDownListSettings>
                                    <DropDownListPopupSettings Height="auto" MaxHeight="200px" />
                                </DropDownListSettings>
                            </TelerikDropDownList>
                        }
                    </EditorTemplate>
                </GridColumn>
                <GridCommandColumn>
                    <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                    <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    }
</div>
@code {
    [Parameter] public string? MasterTagCategoryClassName { get; set; }
    [Inject] private IJSRuntime Javascript { get; set; } = null!;

    private List<MasterTagCategoryResponse> _categories = new();
    private List<MasterTagCategoryResponse> _gridCategories = new();
    private MasterTagCategoryResponse _selectedCategory = new();
    private MasterTagCategoryResponse? _tagCategory;
    private List<string> _types = new() { "All", "Individual", "Team", "MultiTeam", "Enterprise" };
    bool ShowLoading { get; set; } = true;

    private string MasterTagClassName =>
        MasterTagCategoryClassName switch
        {
            "MasterTeamCategory" => "MasterTeamTag",
            "MasterTeamMemberCategory" => "MasterTeamMemberTag",
            "MasterStakeholderCategory" => "MasterStakeholderTag",
            "MasterSkillsCategory" => "MasterSkillsTag",
            _ => throw new ArgumentOutOfRangeException()
        };


    private List<MasterTagWithCategoryAndParentTagResponse> _tags  = new();
    private List<MasterTagWithCategoryAndParentTagResponse> _cascadedTags  = new();

    protected override async Task OnInitializedAsync()
    {
        _selectedCategory.Type = "All";
        var response = await Http.GetAsync("masterTagCategories");
        _categories = await response.Content.ReadFromJsonAsync<List<MasterTagCategoryResponse>>() ?? new List<MasterTagCategoryResponse>();
        await RefreshCategoryGrid();
    }

    #region Category

    private async Task RefreshCategoryGrid()
    {
        _gridCategories = _categories.Where(x => x.ClassName == MasterTagCategoryClassName).ToList();
        await Javascript.InvokeVoidAsync("console.log", $"Number Of Categories - {MasterTagCategoryClassName} - " + _gridCategories.Count);

        StateHasChanged();
    }

    private async Task CreateCategoryHandler(GridCommandEventArgs args)
    {
        var category = (MasterTagCategoryResponse)args.Item;
        category.ClassName = MasterTagCategoryClassName;
        var stringContent = new StringContent(JsonSerializer.Serialize(category), Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("masterTagCategories", stringContent);
        var createdCategory = await response.Content.ReadFromJsonAsync<MasterTagCategoryResponse>();
        await Javascript.InvokeVoidAsync("console.log", createdCategory);
        _categories.Add(createdCategory!);
        await RefreshCategoryGrid();
    }

    private async Task UpdateCategoryHandler(GridCommandEventArgs args)
    {
        var category = (MasterTagCategoryResponse)args.Item;
        var stringContent = new StringContent(JsonSerializer.Serialize(category), Encoding.UTF8, "application/json");
        var response = await Http.PutAsync("masterTagCategories", stringContent);
        var updatedCategory = await response.Content.ReadFromJsonAsync<MasterTagCategoryResponse>() ?? new MasterTagCategoryResponse();
        await Javascript.InvokeVoidAsync("console.log", updatedCategory);

        if (_categories.Exists(y => y.UId == updatedCategory.UId))
        {
            _categories.First(x => x.UId == updatedCategory.UId).Name = updatedCategory.Name;
            _categories.First(x => x.UId == updatedCategory.UId).Type = updatedCategory.Type;
        }

        await RefreshCategoryGrid();
    }

    private async Task DeleteCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (MasterTagCategoryResponse)arg.Item;
        var response = await Http.DeleteAsync($"mastertagcategories/{category.UId}");
        if (response.StatusCode == HttpStatusCode.NoContent)
        {
            _categories.Remove(_categories.First(x => x.UId == category.UId));
            await RefreshCategoryGrid();
        }
    }

    private void AddCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (MasterTagCategoryResponse)arg.Item;
        category.Type = "All";
    }

    private void EditCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (MasterTagCategoryResponse)arg.Item;

        if (category.Type == string.Empty)
        {
            category.Type = "All";
        }
    }

    #endregion

    private async Task CategoryClicked(GridRowClickEventArgs args)
    {
        _tagCategory = (MasterTagCategoryResponse)args.Item;
        var response = await Http.GetAsync($"MasterTags/Category/{_tagCategory.UId}");
        _tags = await response.Content.ReadFromJsonAsync<List<MasterTagWithCategoryAndParentTagResponse>>() ?? new List<MasterTagWithCategoryAndParentTagResponse>();
        StateHasChanged();
    }

    #region Tag

    private async Task AddTagHandler(GridCommandEventArgs arg)
    {
        var tag = (MasterTagWithCategoryAndParentTagResponse)arg.Item;
        tag.ClassName = MasterTagClassName;
        tag.MasterTagCategoryUId = _tagCategory!.UId;
        _cascadedTags = new List<MasterTagWithCategoryAndParentTagResponse>();

        await Javascript.InvokeVoidAsync("console.log", _tagCategory); 
        await Javascript.InvokeVoidAsync("console.log", tag); 
        await Javascript.InvokeVoidAsync("console.log", _categories.Where(x=>x.ClassName == "MasterTeamCategory" && x.Name != "Methodology" && x.Type == _tagCategory.Type)); 
        
    } 
    private async Task EditTagHandler(GridCommandEventArgs arg)
    {
        var tag = (MasterTagWithCategoryAndParentTagResponse)arg.Item;
        await Javascript.InvokeVoidAsync("console.log", tag);
        if (tag.ParentMasterTagCategoryUId != null)
        {
            var response = await Http.GetAsync($"MasterTags/Category/{tag.ParentMasterTagCategoryUId}");
            _cascadedTags = await response.Content.ReadFromJsonAsync<List<MasterTagWithCategoryAndParentTagResponse>>() ?? new List<MasterTagWithCategoryAndParentTagResponse>();
        }
    }
  
    private async Task CreateTagHandler(GridCommandEventArgs arg)
    {
        var tag = (MasterTagWithCategoryAndParentTagResponse)arg.Item;
        var stringContent = new StringContent(JsonSerializer.Serialize(tag), Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("masterTags", stringContent);
        var createdTag = await response.Content.ReadFromJsonAsync<MasterTagWithCategoryAndParentTagResponse>();
        await Javascript.InvokeVoidAsync("console.log", createdTag); 
        _tags.Add(createdTag!);
        StateHasChanged();
    }

    private async Task UpdateTagHandler(GridCommandEventArgs args)
    {
        var tag = (MasterTagWithCategoryAndParentTagResponse)args.Item;
        var stringContent = new StringContent(JsonSerializer.Serialize(tag), Encoding.UTF8, "application/json");
        
        var response = await Http.PutAsync($"masterTags", stringContent);
        var updatedTag = await response.Content.ReadFromJsonAsync<MasterTagWithCategoryAndParentTagResponse>() ?? new MasterTagWithCategoryAndParentTagResponse();
        await Javascript.InvokeVoidAsync("console.log", updatedTag);

       
        var index = _tags.FindIndex(i => i.UId == updatedTag.UId);
        if (index != -1)
        {
            _tags[index] = updatedTag;
        }
        StateHasChanged();
    }
    private async Task DeleteTagHandler(GridCommandEventArgs arg)
    {
        var tag = (MasterTagWithCategoryAndParentTagResponse)arg.Item;
        var response = await Http.DeleteAsync($"mastertags/{tag.UId}");
        if (response.StatusCode == HttpStatusCode.NoContent)
        {
            _tags.Remove(_tags.First(x => x.UId == tag.UId));
            await RefreshCategoryGrid();
        }
    }
    #endregion

    private async Task CascadedList(object obj)
    {
        await Javascript.InvokeVoidAsync("console.log", obj);
        var response = await Http.GetAsync($"MasterTags/Category/{(Guid) obj}");
        _cascadedTags = await response.Content.ReadFromJsonAsync<List<MasterTagWithCategoryAndParentTagResponse>>() ?? new List<MasterTagWithCategoryAndParentTagResponse>();
        StateHasChanged();
    }

}
<style>
    .tags-half{
        display: inline-block;
        width: 49%;
        float: left;
        padding: 0 10px;
        
    }
    .k-master-row{
        cursor: pointer;
    }
</style>