@using AH.Company.Shared.V1.Models.Tags.Responses
@inject HttpClient Http
<div class="tags-forty">
     <TelerikGrid Data="@_gridCategories"
                 EditMode="@GridEditMode.Popup"
                 FilterMode="@GridFilterMode.FilterMenu"
                 EnableLoaderContainer="true"
                 Sortable="true"
                 Height="600px"
                 OnUpdate="@UpdateCategoryHandler"
                 OnAdd="@AddCategoryHandler"
                 OnEdit="@EditCategoryHandler"
                 OnCreate="@CreateCategoryHandler"
                 OnDelete="@DeleteCategoryHandler"
                 OnCancel="@CancelCategoryHandler"
                 SelectionMode="@GridSelectionMode.Single"
                 ConfirmDelete="true"
                 OnRowClick="@( async args => { await CategoryClicked(args); })">
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon = "@SvgIcon.Plus">Add Category</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(CompanyCategoryResponse.Name)" Title="Name"/>
            <GridColumn Field="@nameof(CompanyCategoryResponse.Type)" Title="Type">
                <EditorTemplate>
                    @{
                        _selectedCategory = (CompanyCategoryResponse) context;
                        <TelerikDropDownList Data="@_types"
                                             OnChange="@CategoryTypeChanged"
                                             @bind-Value="@_selectedCategory.Type">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="auto" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
                <Template>
                    @((context as CompanyCategoryResponse)?.Type == string.Empty ? "All" : (context as CompanyCategoryResponse)?.Type)
                </Template>
            </GridColumn>
            <GridColumn Field="MasterTagCategory.UId" Title="Master Category" Visible="@CategoryEditMode" >
                <EditorTemplate>
                    @{
                        _selectedCategory = (CompanyCategoryResponse) context;
                        <TelerikDropDownList Data="@_currentMasterTagCategories"
                                             ValueField="UId"
                                             TextField="Name"
                                             @bind-Value="@_selectedCategory.MasterTagCategory!.UId">
                            <DropDownListSettings>
                                <DropDownListPopupSettings Height="auto" />
                            </DropDownListSettings>
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
                <Template>
                    @((context as CompanyCategoryResponse)?.MasterTagCategory?.Name)
                </Template>
            </GridColumn>
            <GridCommandColumn>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
         <GridSettings>
                <GridPopupEditSettings Title="@_gridTitle"></GridPopupEditSettings>
            </GridSettings>
    </TelerikGrid>
</div>
<div class="k-master-row">
    @if (_selectedCategory != null)
    {
        <TelerikGrid Data="@_tags"
                     EditMode="@GridEditMode.Popup"
                     FilterMode="@GridFilterMode.FilterMenu"
                     EnableLoaderContainer="true"
                     Sortable="true"
                     Height="600px"
                     OnAdd="@AddTagHandler"
                     OnEdit="@EditTagHandler"
                     OnCreate="@CreateTagHandler"
                     OnDelete="@DeleteTagHandler"
                     OnUpdate="@UpdateTagHandler"
                     SelectionMode="@GridSelectionMode.Single"
                     ConfirmDelete="true">
            <GridToolBarTemplate>
                <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Tag</GridCommandButton>
            </GridToolBarTemplate>
            <GridColumns>
                <GridColumn Field="@nameof(CompanyTagResponse.Name)" Title="Name"/>
                <GridCommandColumn>
                    <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                    <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
                </GridCommandColumn>
            </GridColumns>
            <GridSettings>
                <GridPopupEditSettings Title="@_gridTitle"></GridPopupEditSettings>
            </GridSettings>
        </TelerikGrid>
    }
</div>
@code {
    [Parameter] public string TabType { get; set; } = "Team";
    [Parameter] public Guid CompanyUId { get; set; }
  //  [Inject] public IJSRuntime JsRuntime { get; set; } = null!;

    private bool CategoryEditMode { get; set; }
    private CompanyCategoryResponse? _selectedCategory;
    private List<CompanyCategoryResponse> _gridCategories = new();
    private List<CompanyTagResponse> _tags = new();
    private List<string> _types = new() { "All", "Individual", "Team", "MultiTeam", "Enterprise" };
    private string _gridTitle = "Category";
    
    private List<CompanyMasterTagCategoryResponse> _masterTagCategories = new();
    private List<CompanyMasterTagCategoryResponse> _currentMasterTagCategories = new();

    protected override async Task OnParametersSetAsync()
    {
        var response = await Http.GetAsync($"api/Company{TabType}Categories/{CompanyUId}");
        _gridCategories = await response.Content.ReadFromJsonAsync<List<CompanyCategoryResponse>>() ?? new List<CompanyCategoryResponse>();
        
        var masterTagCategoriesResponse = await Http.GetAsync($"api/MasterTagCategories");
        _masterTagCategories  = await masterTagCategoriesResponse.Content.ReadFromJsonAsync<List<CompanyMasterTagCategoryResponse>>() ?? new List<CompanyMasterTagCategoryResponse>();
    }

    private void AddCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (CompanyCategoryResponse)arg.Item;
        category.Type = "All";
        category.MasterTagCategory = new CompanyMasterTagCategoryResponse();
        _currentMasterTagCategories = _masterTagCategories.Where(x => x.ClassName == (TabType == "Skill" ? "MasterSkillsCategory" : $"Master{TabType}Category")).ToList();
        _gridTitle = "Add Category";
        
        CategoryEditMode = true;
    }
    
    private void EditCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (CompanyCategoryResponse)arg.Item;

        _currentMasterTagCategories = _masterTagCategories.Where(x => x.ClassName == (TabType == "Skill" ? "MasterSkillsCategory" : $"Master{TabType}Category")).ToList();

        if (category.Type == string.Empty)
        {
            category.Type = "All";
            _currentMasterTagCategories = _currentMasterTagCategories.Where(x => string.IsNullOrWhiteSpace(x.Type)).ToList();
        }
        else
        {
            _currentMasterTagCategories = _currentMasterTagCategories.Where(x => x.Type == category.Type || string.IsNullOrWhiteSpace(x.Type) ).ToList();
        }
        _gridTitle = "Edit Category";
        CategoryEditMode = true;
    }
    
    private async Task CreateCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (CompanyCategoryResponse)arg.Item;
        var categoryToSubmit = new CompanyCategoryResponse
        {
            Name = category.Name,
            Type = category.Type,
            MasterTagCategory = category.MasterTagCategory?.UId == Guid.Empty ? null : category.MasterTagCategory
        };
        
        CategoryEditMode = false;
    }
    
    private async Task UpdateCategoryHandler(GridCommandEventArgs arg)
    {
        var category = (CompanyCategoryResponse)arg.Item;
        var categoryToSubmit = new CompanyCategoryResponse
        {
            Name = category.Name,
            Type = category.Type,
            MasterTagCategory = category.MasterTagCategory?.UId == Guid.Empty ? null : category.MasterTagCategory
        };
        
        CategoryEditMode = false;
    }
    
    private Task DeleteCategoryHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }
    
    private void CancelCategoryHandler(GridCommandEventArgs arg)
    {
        CategoryEditMode = false;
    }  
    private void  CategoryTypeChanged(object arg)
    {
        _currentMasterTagCategories = _masterTagCategories.Where(x => x.ClassName == (TabType == "Skill" ? "MasterSkillsCategory" : $"Master{TabType}Category")).ToList();
         var type = (string)arg;
        if (type != "All")
        {
            _currentMasterTagCategories = _currentMasterTagCategories.Where(x => x.Type == type || string.IsNullOrWhiteSpace(x.Type)).ToList();
        }
        StateHasChanged();
    }
    
    private async Task CategoryClicked(GridRowClickEventArgs arg)
    {
        var category = (CompanyCategoryResponse)arg.Item;
        var response = await Http.GetAsync($"api/Company{TabType}Tags/{category.UId}");
        _tags = await response.Content.ReadFromJsonAsync<List<CompanyTagResponse>>() ?? new List<CompanyTagResponse>();
        StateHasChanged();
        _selectedCategory = category;
    }

    private Task AddTagHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }
    
    private Task EditTagHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }
    
    private Task CreateTagHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }
    
    private Task UpdateTagHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }
    
    private Task DeleteTagHandler(GridCommandEventArgs arg)
    {
        throw new NotImplementedException();
    }

}
<style>
    .tags-forty{
        display: inline-block;
        width: 45%;
        float: left;
        padding: 0 10px;
        
    }
    .k-master-row{
        cursor: pointer;
    }
</style>